{% extends "ajax.html" %}
{% load static %}
{% load i18n %}

{% block content %}
  <div class="col-md-6 h100">
    <div class="video-img">
      <div class="video-title"><a href="{{ items.0.get_absolute_url }}">{{ items.0.short_title }}</a></div>
      <img class="img-responsive w100" src="{{ items.0.photos.first.image.file.url }}" alt="banner"/>
    </div>
  </div>
  <div class="col-md-6 h100">
    <div class="row">
      {% for item in items|slice:"1:3" %}
      <div class="col-md-6 col-xs-6">
        <div class="video-img">
          <div class="video-title"><a href="{{ item.get_absolute_url }}">{{ item.short_title }}</a></div>
          <img class="img-responsive w100" src="{{ item.photos.first.image.file.url }}" alt="banner"/>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row mt10">
      {% for item in items|slice:"3:" %}
      <div class="col-md-6 col-xs-6">
        <div class="video-img">
          <div class="video-title"><a href="{{ item.get_absolute_url }}">{{ item.short_title }}</a></div>
          <img class="img-responsive w100" src="{{ item.photos.first.image.file.url }}" alt="banner"/>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
