{% load i18n %}
{% load static %}

<!--Copyright Text-->
<div class="theme-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-7">

        <div class="row">
          <div class="col-md-2 col-xs-12 text-center">
            <img width="100" class="copyrightImg" src="{% static 'images/albd-logo.png' %}" alt="copyrights">
          </div>
          <div class="col-md-10 col-xs-12 m-text-center">
            <p class="f13">{% trans 'footer.instructions' %}</p>
            <p class="f13"><a href="{% url 'pages:detail' 'terms-conditions' %}">
                          {% trans 'Terms and Conditions' %}</a> | <a href="{% url 'pages:detail' 'privacy' %}"> {% trans 'Privacy Policy' %}</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <h2 class="mt0">Follow Us</h2>
        <ul class="socialIcon">
          <li><a href="https://www.facebook.com/awamileague.1949/"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/albd1971"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="https://www.youtube.com/user/myalbd"><i class="fa fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--End Copyright Text-->
