{% load i18n %}
{% load static %}

<!--Search box -->
<div class="searchBox" style="display: none;">
  <div class="container">
    <form name="" action="{% url 'search' %}" method="get">
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" id="search" name="q" placeholder="Type your search">
          <div class="input-group-addon"><i class="fa fa-search"></i></div>
        </div>
      </div>
    </form>
  </div>
</div>

<!--End Search box -->

