{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>Our Team</h1>

    <div class="row"><!--Start Team area -->

        <!--Start Team box-->
        <div class="col-sm-3">
            <div class="our-team">
                <div class="employee-pic"><img class="img-responsive"
                                               src="{% static 'images/presidents/sheikhhasina.jpg' %}"
                                               alt="sheikhhasina"></div>
                <div class="team-prof">
                    <h3 class="post-title">Sheikh Hasina</h3>
                    <div class="border"></div>
                    <span class="employee-designation">President of Bangladesh Awami League</span>
                    <a class="btn btn-default btn-lg btn-block team_view_btn">View Details</a>

                </div>

                <ul class="socialIcon">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>

                <div class="team_bio"> Sheikh Hasina Wazed is the current Prime Minister of Bangladesh, in office
                    since January 2009. Hasina's political career has spanned more than four decades.
                </div>

            </div>

        </div>
        <!--//End Team box-->

        <!--Start Team box-->
        <div class="col-sm-3">
            <div class="our-team">
                <div class="employee-pic"><img class="img-responsive"
                                               src="{% static 'images/presidents/sheikhhasina.jpg' %}"
                                               alt="sheikhhasina"></div>
                <div class="team-prof">
                    <h3 class="post-title">Sheikh Hasina</h3>
                    <div class="border"></div>
                    <span class="employee-designation">President of Bangladesh Awami League</span>
                    <a class="btn btn-default btn-lg btn-block team_view_btn">View Details</a>

                </div>

                <ul class="socialIcon">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>

                <div class="team_bio"> Sheikh Hasina Wazed is the current Prime Minister of Bangladesh, in office
                    since January 2009. Hasina's political career has spanned more than four decades.
                </div>

            </div>

        </div>
        <!--//End Team box-->

        <!--Start Team box-->
        <div class="col-sm-3">
            <div class="our-team">
                <div class="employee-pic"><img class="img-responsive"
                                               src="{% static 'images/presidents/sheikhhasina.jpg' %}"
                                               alt="sheikhhasina"></div>
                <div class="team-prof">
                    <h3 class="post-title">Sheikh Hasina</h3>
                    <div class="border"></div>
                    <span class="employee-designation">President of Bangladesh Awami League</span>
                    <a class="btn btn-default btn-lg btn-block team_view_btn">View Details</a>

                </div>

                <ul class="socialIcon">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>

                <div class="team_bio"> Sheikh Hasina Wazed is the current Prime Minister of Bangladesh, in office
                    since January 2009. Hasina's political career has spanned more than four decades.
                </div>

            </div>

        </div>
        <!--//End Team box-->

        <!--Start Team box-->
        <div class="col-sm-3">
            <div class="our-team">
                <div class="employee-pic"><img class="img-responsive"
                                               src="{% static 'images/presidents/sheikhhasina.jpg' %}"
                                               alt="sheikhhasina"></div>
                <div class="team-prof">
                    <h3 class="post-title">Sheikh Hasina</h3>
                    <div class="border"></div>
                    <span class="employee-designation">President of Bangladesh Awami League</span>
                    <a class="btn btn-default btn-lg btn-block team_view_btn">View Details</a>

                </div>

                <ul class="socialIcon">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>

                <div class="team_bio"> Sheikh Hasina Wazed is the current Prime Minister of Bangladesh, in office
                    since January 2009. Hasina's political career has spanned more than four decades.
                </div>

            </div>

        </div>
        <!--//End Team box-->

        <!--Start Team box-->
        <div class="col-sm-3">
            <div class="our-team">
                <div class="employee-pic"><img class="img-responsive"
                                               src="{% static 'images/presidents/sheikhhasina.jpg' %}"
                                               alt="sheikhhasina"></div>
                <div class="team-prof">
                    <h3 class="post-title">Sheikh Hasina</h3>
                    <div class="border"></div>
                    <span class="employee-designation">President of Bangladesh Awami League</span>
                    <a class="btn btn-default btn-lg btn-block team_view_btn">View Details</a>

                </div>

                <ul class="socialIcon">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>

                <div class="team_bio"> Sheikh Hasina Wazed is the current Prime Minister of Bangladesh, in office
                    since January 2009. Hasina's political career has spanned more than four decades.
                </div>

            </div>

        </div>
        <!--//End Team box-->

        <!--Start Team box-->
        <div class="col-sm-3">
            <div class="our-team">
                <div class="employee-pic"><img class="img-responsive"
                                               src="{% static 'images/presidents/sheikhhasina.jpg' %}"
                                               alt="sheikhhasina"></div>
                <div class="team-prof">
                    <h3 class="post-title">Sheikh Hasina</h3>
                    <div class="border"></div>
                    <span class="employee-designation">President of Bangladesh Awami League</span>
                    <a class="btn btn-default btn-lg btn-block team_view_btn">View Details</a>

                </div>

                <ul class="socialIcon">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>

                <div class="team_bio"> Sheikh Hasina Wazed is the current Prime Minister of Bangladesh, in office
                    since January 2009. Hasina's political career has spanned more than four decades.
                </div>

            </div>

        </div>
        <!--//End Team box-->

        <!--Start Team box-->
        <div class="col-sm-3">
            <div class="our-team">
                <div class="employee-pic"><img class="img-responsive"
                                               src="{% static 'images/presidents/sheikhhasina.jpg' %}"
                                               alt="sheikhhasina"></div>
                <div class="team-prof">
                    <h3 class="post-title">Sheikh Hasina</h3>
                    <div class="border"></div>
                    <span class="employee-designation">President of Bangladesh Awami League</span>
                    <a class="btn btn-default btn-lg btn-block team_view_btn">View Details</a>

                </div>

                <ul class="socialIcon">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>

                <div class="team_bio"> Sheikh Hasina Wazed is the current Prime Minister of Bangladesh, in office
                    since January 2009. Hasina's political career has spanned more than four decades.
                </div>

            </div>

        </div>
        <!--//End Team box-->
        <!--Start Team box-->
        <div class="col-sm-3">
            <div class="our-team">
                <div class="employee-pic"><img class="img-responsive"
                                               src="{% static 'images/presidents/sheikhhasina.jpg' %}"
                                               alt="sheikhhasina"></div>
                <div class="team-prof">
                    <h3 class="post-title">Sheikh Hasina</h3>
                    <div class="border"></div>
                    <span class="employee-designation">President of Bangladesh Awami League</span>
                    <a class="btn btn-default btn-lg btn-block team_view_btn">View Details</a>

                </div>

                <ul class="socialIcon">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>

                <div class="team_bio"> Sheikh Hasina Wazed is the current Prime Minister of Bangladesh, in office
                    since January 2009. Hasina's political career has spanned more than four decades.
                </div>

            </div>

        </div>
        <!--//End Team box-->


    </div> <!--//..End Team area -->

    <!--Pagination -->

    <nav class="text-center" aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
                </a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                </a>
            </li>
        </ul>
    </nav>

    <!--//..End Pagination -->

    <!-- Team Modal -->

    <div tabindex="-1" class="modal fade teamModal" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal">×</button>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>



{% endblock content %}

{% block extra_js %}

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('.our-team').click(function () {
                $('.modal-body').empty();
                var title = $(this).parent('a').attr("title");
                $('.modal-title').html(title);
                $($(this).parents('div').html()).appendTo('.modal-body');
                $('#myModal').modal({show: true});
            });
        });
    </script>


{% endblock extra_js %}
